@font-face {
  font-family: colossalis;
  src: url('Colossalis Bold.ttf');
}

body {
  border-top: 8px solid #ec8e08;
  color: #888;
  font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #ec8e08;
  font-family: colossalis, Impact, sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
}

/*************************** LOGO *****************************/
.logo h2 {
  display: inline-block;
  font-size: 3em;
  margin-top: 0;
  padding-right: 5px;
}

.logo h3 {
  border-left: 2px solid #a1a1a1;
  color: #a1a1a1;
  display: inline-block;
  font: 1.75em 'Trebuchet MS', Tahoma, Arial, sans-serif;
  padding-left: 10px;
  position: relative;
  top: -.2em;
}

/*************************** SOCIAL MEDIA *****************************/

.social a i {
  color: #a1a1a1;
  font-size: 2.5em;
  text-decoration: none;
}

.social li {
  display: inline-block;
}

.social p {
  margin-bottom: 2px;
}

.social ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}
