@font-face {
  font-family: colossalis;
  src: url('Colossalis Bold.ttf');
}

body {
  border-top: 8px solid #ec8e08;
  color: #888;
  font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #ec8e08;
  font-family: colossalis, Impact, sans-serif;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

.fa-ul {
  margin-left: 1.5em;
}

/*************************** LOGO *****************************/

.logo {
  float: left;
  max-width: 50%;
}

.logo h2 {
  display: inline-block;
  font-size: 3em;
  margin-top: 0;
  padding-right: 5px;
}

.logo h3 {
  border-left: 2px solid #a1a1a1;
  color: #a1a1a1;
  display: inline-block;
  font: 1.75em 'Trebuchet MS', Tahoma, Arial, sans-serif;
  padding-left: 10px;
  position: relative;
  top: -0.2em;
}

/*************************** SOCIAL MEDIA *****************************/

.social {
  float: right;
  text-align: right;
}

.social a i {
  color: #a1a1a1;
  font-size: 2.5em;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}

.social a:hover i.fa-facebook-square {
  color: #3b5998;
}

.social a:hover i.fa-twitter-square {
  color: #4099ff;
}

.social a:hover i.fa-google-plus-square {
  color: #d34836;
}

.social a:hover i.fa-youtube-square {
  color: #ff3333;
}

.social li {
  display: inline-block;
}

.social p {
  font-size: 0.85em;
  margin: 10px 0 2px 0;
}

.social ul {
  list-style-type: none;
  margin-top: 0;
  padding-left: 0;
}

/************************** NAVIGATION *******************************/

nav {
  border: 1px solid #ccc;
  clear: both;
  width: 958px;
  height: 45px;
}

.main-nav {
  float: left;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav li {
  border-right: 1px solid #ccc;
  float: left;
  height: 45px;
  position: relative;
  width: 100px;
}

.main-nav li a {
  color: #a1a1a1;
  font-size: 14px;
  height: 31px;
  padding-top: 14px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
  width: 100px;
}

.main-nav li a:hover {
  background-color: #eee;
}

.search {
  color: #a1a1a1;
  float: right;
  margin: 10px 10px 0 0;
}

.search input {
  border: 1px solid #a1a1a1;
  background-color: #eee;
  border-radius: 30px;
  padding-left: 8px;
}

.search a {
  color: #a1a1a1;
  text-decoration: none;
}

/***************************** CONTENT SLIDER **************************/

.slider {
  background: #eee url('../img/slider-bg.jpg') no-repeat;
  height: 260px;
  margin-top: 20px;
  position: relative;
  width: 960px;
}

.slider-prev, .slider-next {
  color: #444;
  font-size: 30px;
  opacity: 0.5;
  position: absolute;
  text-decoration: none;
  top: 115px;
  transition: opacity 0.5s;
}

.slider-prev:hover, .slider-next:hover {
  opacity: 1;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 10px;
}

.slide-image {
  position: absolute;
  top: 15px;
  left: 80px;
}

.slide-content {
  position: absolute;
  right: 80px;
  width: 50%;
}

.slider-title {
  font: 55px 'Trebuchet MS', Tahoma, Arial, sans-serif;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 5px;
}

.slider-title span {
  color: #a1a1a1;
  font-size: 30px;
  font-weight: regular;
}

.slider-button {
  background-color: #8bcf48;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  text-decoration: none;
  width: 280px;
  transition: background-color 0.5s;
}

.slider-button:hover {
  background-color: #9cdf59;
}

.slider-button span {
  font-size: 14px;
}

/***************************** 3-COLUMN SETUP *******************/

.column-one-third, .column-two-thirds {
  float: left;
  margin-right: 24px;
  padding: 0;
}

.column-one-third:last-child, .column-two-thirds:last-child {
  margin-right: 0;
}

.column-one-third {
  width: 304px;
}

.column-two-thirds {
  width: 632px;
}

/***************************** 4-COLUMN SETUP *******************/

.meet-the-team {
  padding-top: 20px;
  margin-bottom: 2px;
}
.column-one-fourth {
  border: 1px solid #ddd;
  border-left: none;
  float: left;
  padding: 10px;
  width: 218.75px;
}

.column-one-fourth:first-child {
  border-left: 1px solid #ddd;
}
